@charset "utf-8";

@import "susy";
@import "breakpoint";

//== Susy grid setup

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
	global-box-sizing: border-box,
	);

#container{
	@include container;
}