@charset "utf-8";

@import "susy";
@import "breakpoint";
@import "normalize";


//== colors
$teal: #04BFBF;
$mint: #CAFCD8;
$yellow: #F7E967;
$yellow-green: #A9CF54;
$green: #588F27;

$tablet-viewport: 768px;
$desktop-viewport: 1024px;
//== Susy grid setup

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
	global-box-sizing: border-box,
	container: 1400px,
	container-position: center,
	);

#container{
	@include container;
}

*{
	box-sizing: border-box;
}

body{
	background-color:lighten($mint,10%);
	font-family: "proxima-nova", sans-serif;
	padding-top:1rem;
}

a{
	text-decoration:none;
	font-variant: small-caps;
	color:darken($mint,30%);
	font-size: 1.3rem;
	border-bottom: 1px dotted $teal;
}

h1{
	width:span(full);
	font-size:4rem;
	text-align: center;
	line-height:3.75rem;
	color:$teal;
	margin:0 0 1rem 0;
	@include breakpoint($tablet-viewport){
		font-size: 7rem;
		line-height: 6rem;
		margin: 0 0 2.5rem 0;
	}
}

.image-area{
	background-color:$mint;
	width:span(11);
	margin: 0 auto 0 auto;
	padding: 1rem 1rem 1.5rem 1rem;
	overflow: hidden;
	& img{
		width:span(full);
	}
}

.credits-area{
	width:span(11);
	margin: 0 auto 2rem auto;
	//background-color:lighten($yellow,15%);

	& p{
		padding: 0.3rem 0.5rem 0.5rem 0.5rem;
		border-bottom: 0.5rem solid lighten($yellow,15%);
	}

}
.control-area{
	width:span(8);
	margin: 0 auto 3rem auto;
	max-width:600px;
	@include breakpoint($desktop-viewport){
		margin: 0 auto 4rem auto;
	}
}
.sloth-button{
	width:span(full);
	padding:1rem 0 1rem 0;
	height: 3.5rem;
	display:inline-block;
	background-color:$teal;
	text-align:center;
	vertical-align:middle;
	font-variant: normal;
	border-radius: 2px;
	box-shadow: 0px 5px 1px $mint;
	color:lighten($yellow,15%);
}

.about-area{
	width:span(10);
	margin: 0 auto 0 auto;
	& p{
		margin-bottom:0.5rem;
	}
	& p.copyright{
		font-size:0.8rem;
		text-align:center;
		padding-top:1rem;	
	}
	& p.copyright a{
		font-size:0.8rem;
	}
	@include breakpoint($tablet-viewport){
		width:span(8);
		max-width: 750px;
		& p{
			font-size: 1.3rem;
		}
		& p.copyright{
			font-size: 1rem;
		}
		& p.copyright a{
			font-size: 1rem;
		}
	}
	@include breakpoint($desktop-viewport){
		& p{
			margin-bottom: 1rem;
		}
	}

}


